<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="checks" name="Tycho Helper Checks" schema="schema/checks.exsd"/>
   <extension
         id="nature"
         name="Tycho Project Nature"
         point="org.eclipse.core.resources.natures">
         <builder
               id="com.duckasteroid.tycho-helper.core.builder">
         </builder>
      <runtime>
         <run class="com.duckasteroid.tycho.utils.core.nature.TychoNature"/>
      </runtime>
   </extension>
   <extension
         id="builder"
         point="org.eclipse.core.resources.builders"
         name="Tycho Helper Builder">
      <builder>
      	<run class="com.duckasteroid.tycho.utils.core.builder.TychoBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.duckasteroid.tycho.utils.core.marker.ResolutionGenerator"
            markerType="com.duckasteroid.tycho-helper.core.marker">
      </markerResolutionGenerator>
   </extension>
   <extension
         id="marker"
         name="Maven Tycho Marker"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.problemmarker"/>
   		 <super type="org.eclipse.core.resources.textmarker"/>
   		 <!--<attribute name="key"/>
   		 <attribute name="violation"/> -->
   		 <persistent value="true"/>
   </extension>
   <extension
         point="com.duckasteroid.tycho-helper.core.checks">
      <check
            class="com.duckasteroid.tycho.utils.core.builder.checks.ArtifactSymbolicNameCheck"
            name="Check that POM artifact ID matches bundle symbolic name">
      </check>
      <check
            class="com.duckasteroid.tycho.utils.core.builder.checks.VersionCheck"
            name="Check that the POM version matches the manifest version ">
      </check>
   </extension>

</plugin>
